{{!-- MAZYN --}}
<div class="trending-articles__feed">
  <h2 class="trending-articles__title">مقالات ذات صلة</h2>
  <ul class="ui-list">

    {{#each urls}}
      <li class="ui-list__item">





        <article class="media-small related-small">
          <div class="media-small__img">
            <a href="{{ url }}" class="hrl">
              <img src='{{ thumborThumb thumbnailImageURLs.[0] }}' alt='{{ title }}' />
            </a>
          </div>
          <div class="media-small__body">
            <h3 class="media-small__title remove-margin">
              {{ title }}
            </h3>
          </div>
        </article>







      </li>
    {{/each}}

  </ul>
</div>
