  .diwanee-social-honey-wrap {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    clear: both;
  }
  .diwanee-social-honey-wrap.rendered {
    max-height: 2000px;
  }
  
  .diwanee-social-honey-wrap.mainbar {
    .b-rel-article__list__img {
      display: block;
      margin-bottom: 0.5rem;
      img {
        display: block;
      }
    }
    
  }
